.atb_container {
  color: #d1472d;
  background-color: #ffffff;
  border: solid 10px;
  position: absolute;
  top: 460px;
  width: 500px;
  height: 25px;
  overflow: hidden;
}

.atb_value {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  background-color: #0086B3;
}

.mob {
  .atb_container {
    right: 0;
  }
  .atb_value {
    right: 0;
  }
}

.player {
  .atb_container {
    left: 0;
  }
  .atb_value {
    left: 0;
  }
}