.atb_container {
  color: #d1472d;
  background-color: #ffffff;
  border: solid 7px;
  position: absolute;
  top: 299px;
  width: 380px;
  height: 35px;
  overflow: hidden;
  box-sizing: border-box;

  .label {
    color: #13485a;
    z-index: 8;
    font-size: 15px;
    top: 0;
    right: 7px;
    position: absolute;
  }
}

.atb_value {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  background-color: #0086B3;
}

.mob {
  .atb_container {
    right: 0;
  }
  .atb_value {
    right: 0;
  }
  .label {
    left: 7px;
    right: initial;
  }
}

.player {
  .atb_container {
    left: 0;
  }
  .atb_value {
    left: 0;
  }
}