.menu_container {
  position: absolute;
  background: gold;
  width: 200px;
  z-index: 1;
  .menu_button {
    background-color: grey;
    color: aliceblue;
    cursor: pointer;
  }

  height: 10px;

  &.opened {
    height: auto;
  }
}