.menu_container {
  position: absolute;
  background: $orange;
  width: 350px;
  bottom: 46px;
  left: 99%;
  z-index: 1;
  display: none;
  .menu_button {
    background-color: $orange;
    color: white;
    cursor: pointer;
    height: 36px;
    font-size: 21px;
    margin: 0px 5px;
    line-height: 36px;
    border-bottom: solid;
    white-space: nowrap;
    &.focus {
      background-color: $blue;
      .pointer {
        display: block;
      }
    }
    .pointer {
      display: none;
      position: relative;
      left: -60px;
      top: -53px;
    }

  }

  height: 10px;

  &.opened {
    height: auto;
    display: block;

  }
}

.pointer {
  width: 50px;
  height: 50px;
  animation-name: blind;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  background-image: url(assets/fx/arow.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

@keyframes blind {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}